h1{
    font-size: 100px;
    color: blue;
}
p{
    color: brown;
    font-size: 50px;
}
.Images{
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}